<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="BaseURL" value="http://10.1.23.114/bookstore/"/>
    <add key="RedirectURL" value="http://10.1.23.114/bookstore/Default.aspx?"/>
    <add key="Browser" value="Firefox"/>
    <add key="TestDataSheetPath" value="D:\OnlineBookStore_FrameworkAutomation\TC_BookStore\TestInputData\TestData.xlsx"/>
  </appSettings>
</configuration>