<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="BaseURL" value="http://localhost/bookstore/"/>
    <add key="RedirectURL" value="http://localhost/bookstore/Default.aspx?"/>
    <add key="Browser" value="Firefox"/>
    <add key="TestDataSheetPath" value="\TC_BookStore\TestInputData\TestData.xlsx"/>
  </appSettings>
</configuration>