<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="BaseURL" value="http://10.1.23.114/bookstore/"/>
    <add key="RedirectURL" value="http://10.1.23.114/bookstore/Default.aspx?"/>
    <add key="Browser" value="Firefox"/>
  </appSettings>
  <connectionStrings>
    <add name="ExcelConnection" connectionString="Dsn=Excel Files;dbq=.\TestInputData\TestData.xlsx;defaultdir=.; driverid=790;maxbuffersize=2048;pagetimeout=5" providerName="System.Data.Odbc" />
  </connectionStrings>
    <dataSources>
      <add name="MyExcelDataSource" connectionString="ExcelConnection" dataTableName="ResgiserUsers" dataAccessMethod="Sequential"/>
    </dataSources>
</configuration>